 /*background-image: repeating-radial-gradient(rgb(236, 237, 240), #fff 55%) !important; */
 /*#fff */

 /* background-image: repeating-radial-gradient(#fff, rgb(243, 244, 247) 65%) !important; */

 /* rgb(189, 198, 252)  选中 */
 /* 按钮 */
 /* 查询按钮*/



 .el-pager li.active {
   color: #333 !important;

 }

 /* 自定义模块编辑和跨表按钮 */
 .el-main .el-button--success {
   /* background-color:#FDFDFD !important; */


   font-size: 16px;
   background-color: #7c7575 !important;
   color: #fff !important;
   border-radius: 20px;
   font-family: auto;
 }

 /* 按钮鼠标未移入样式 */

 #app .el-button--primary.is-plain {
   background-color: #FDFDFD;


   color: #7c7575333;

   font-size: 16px;
   /* padding: 0!important; */
   margin-top: 10px !important;
   margin-bottom: 10px !important;
   margin-right: 10px !important;
   margin: 0 !important;
 }

 thead th .cell {
   font-size: 16px;
   color: #FFFFFF;
 }

 .el-image {
   border-radius: 10%;
 }

 /* 按钮鼠标移入样式 */

 #app .el-button--primary.is-plain:hover {
   background-color: pink;


   color: #7c7575333;

   font-size: 16px;
 }

 body {
   font-family: "Lucida Handwriting", "Times New Roman", Cursive;
 }

 /* 表单内文字 */
 form label {
   font-size: 16px !important;
   color: #2d4059;
 }

 /* 输入框 */
 article main form input {
   border-radius: 10px !important;
   background-color: #7c7575;
   /* border: 2px solid #fff !important; */
   color: #7c7575 !important;
   height: 30px !important;
 }

 /* 鼠标移入时输入框样式 */
 article main form input:hover {
   /* 	border: 1px solid #f07b3f !important; */
 }

 /* 列表页外层 */

 article main .el-table {
   /* border-radius: 20px !important; */
 }










 /* 账号密码盒子 */
 .sign_in .form .el-form-item {

   width: 206px;
   /* margin-right: 3rem !important; */
   /* margin-top: 2.5rem; */
   float: left;
   margin-bottom: 30px;
   margin-left: 8px;
   display: flex;

 }

 .sign_in .form .el-form-item .el-form-item__content {
   margin: 0 !important;
 }




 /*  */

 /* 登录页  登录框 注册框 忘记密码框 input框左侧label字体样式*/

 .sign_in .form label {
   font-size: 15px !important;
   font-weight: 800;
   color: #7c7575 !important;
   /* writing-mode: initial !important; */
   width: 112px !important;
   text-align: center;
   padding: 0;
   font-family: auto;
   display: inline-block;
   text-align: right;
   margin-right: 4px;
 }



 /* 登录页  登录框 注册框 忘记密码框 左侧账号*隐藏 */
 .sign_in .form label:before {
   /* 隐藏*号 */
   display: none;
   /* 字体[排向] */

 }

 /* 登录页  登录框 注册框 忘记密码框 左侧账号加： */
 .sign_in .form label:after {
   /* 内容 */
   content: ":";
   /* 字体[排向] */
   /* writing-mode: vertical-rl; */
 }

 /* 登录页  登录框 注册框 忘记密码框 input输入框 */
 .sign_in .form input {
   /* 圆角边框 */
   /* border-radius: 5px !important; */
   /* border: 1px solid #ff5722 ; */
   /*   边框阴影 */
   /* box-shadow: 0px 0px 20px 10px #ccc; */
   /* 外边距
    /* margin: 10px 10px 10px 10px; */
   /* 内边距 */
   /* padding: 10px 10px 10px 10px; */
   /* 内部字体颜色 */
   /*    color: #edf798; */
   /* 盒子透明度 */
   /* opacity: 0.8; */
   /* 背景颜色 */
   /* background-color: #7c7575 !important; */
   /* 宽度 */
   /* width: 100%; */
   /* 高度 */
   /* height: 100x; */
   /*文字摆放位置*/
   /* text-align: left !important; */
   /* 边框 */
   /* border: 2px solid #fff; */
   color: #7c7575 !important;
   /* height: 30px; */
  /* border: none !important; */
 }

 /* 鼠标移入时样式 */
 .sign_in .form input:hover {
   /* border: 1px solid #f07b3f !important; */
 }




 .sign_in .warp .el-row .el-form .btns {
 /*  background: transparent !important; */
  /* position: absolute;
   /* left: 77%; */
/*   top: 361px; */
  /* display: flex; */
   flex-direction: column; */
   margin-left: 550px;
 }

 /* 登录页忘记密码 */


 .sign_in .btns:last-child {
   border-radius: 5px;
   /* background: #190157 !important; */
   background: transparent !important;
   border: none;
   color: #7c7575;
   font-family: "auto";
   font-size: 16px;
   width: 88px !important;
   /* text-align: center; */
   /* padding: 0; */
   height: 50px !important;
   line-height: 50px !important;
   /* left: 513px !important; */
   margin-left: 41% !important;
   /* margin-top: 30px; */
   /* border: 1px solid #fff; */
   height: 104px;
   /* writing-mode: tb-rl; */
   /* -webkit-writing-mode: vertical-rl; */
   /* writing-mode: vertical-rl; */
   /* writing-mode: tb-rl; */
   border-bottom: 10px solid #e8aa8c;
   border-radius: 20px;
 /*  top: 364px !important; */
 font-weight: 600;
 }



 /* 登录界面登录注册按钮 */
 .sign_in .el-button {

   background: transparent !important;
   /* background: #190157 !important; */
   border: none !important;
   color: #7c7575;
   font-family: "agency fb";
   font-size: 1rem;
   width: 90px !important;
   text-align: center;
   padding: 0;
   height: 50px;
   line-height: 50px;
   /* margin-left: 15px; */
   border-bottom: 10px solid #71adb5 !important;
   background-color: #7c7575;
 
   border-radius: 20px;
/*   margin-bottom: 20px !important; */
font-weight: 600;
margin-bottom: 5px;

 }

 .sign_in .el-button:hover {
   border: 1px solid #7c7575 !important;
 }

 .sign_in .btns:last-child:hover {
   border: 1px solid #7c7575 !important;
 }


 /* 登录页  忘记密码框内 取消 字体样式*/
 .el-input-group__append {
   position: absolute !important;
   left: 145px !important;
   top: -7px !important;
   background: transparent !important;
   width: 77px !important;
   padding: 0 !important;
   height: 52px;
   border-radius: 16px !important;
 }

 /* 忘记密码页发送验证码按钮 */
 .sign_in .el-input-group__append button {
   color: #fff !important;
   border-radius: 1rem !important;
   width: 76px !important;


 }

 .sign_in .el-input__inner {
   margin-right: 40px !important;
 }


 /* --------------------------------------------------------------- */
 /* vue后台列表 外框背景色 ////////////////////////*/
 .bg {
   /* 背景色 */
   background-color: #f6f6f6 !important;

 }


 /* 左侧导航栏 样式  */
 /* 左侧导航栏颜色 */
 #app .page .side {
   /* 背景颜色 */
   background-color: #7c7575 !important;
   /* 边框 */
   /*   border-right: 2px solid #BD8387; */
   width: 180px;
 }

 /* 导航栏首页盒子 */
 #app .page .side .el-menu-item {
   /* background-color: #7c7575 !important;
   color: #fff !important;
   font-size: 20px !important;
   font-family: auto;
   text-align: center !important; */
 }

 /* 导航栏主类背景色 */
 #app .page .side .el-submenu__title {
   /* margin-bottom: 10px; */
   background: #7c7575 !important;
   font-family: auto;
   color: #FFFFFF !important;
   margin-top: 14px;
   /* border-radius: 10px; */
   height: 50px;
   line-height: 40px;
   padding: 0 !important;
   text-align: left;
   padding-left: 10px !important;
   width: 175px;
   margin-left: 2px;
   border-bottom: 1px solid  #fff;
   
 }

 /* 导航栏主类文字样式 */
 #app .page .side .el-submenu__title span {
   color: #fff;
   font-size: 1.1rem;
   /* font-weight: 600; */

 }

 /* 导航栏子类外框背景色 */
 #app .page .side .el-submenu .el-menu {
   background-color: transparent !important;
 }

 /* 左侧导航栏盒子内分支导航样式 */

 #app .page .side .el-submenu li {
   color: #7c7575 !important;
   margin: 0px !important;
  /* padding: 0 0 0 45px !important; */
   text-align: center;
   height: 40px !important;
   line-height: 40px !important;
  width: 142px !important;
   /* min-width: 100px !important; */
   font-size: 16px !important;
   background-color: #fff !important;
   border-bottom: 5px solid #7c7575;
/*   text-align: left !important; */
border-radius: 10px !important;

 }

 /* 左侧导航栏选中文字样式 */

 #app .page .side .el-menu-item.is-active,
 #app .page .side .el-menu-item {
   background-color: #7c7575 !important;
   color: #fff !important;
   font-size: 16px !important;
   font-family: auto !important;
   text-align: center !important;
   height: 40px;
   line-height: 40px;
   width: 142px !important;
  /* min-width: 100px !important; */
 }

 #app .page .side .el-menu-item.is-active {
   font-size: 16px !important;
   text-align: center !important;
   color: #FFC0CB !important;
   /* border-bottom: 1px solid rgb(189, 198, 252); */
 }


 /* 左侧导航栏 首页图标 样式  */
 #app .page .side .el-icon-s-home {
   /*文字摆放位置*/
   /*  text-align: left !important; */
   /* 文字大小 */
   /* font-size: 50px !important; */
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   color: #6c737e !important;
   display: none;
 }


 /* 左侧导航栏 未选中时图标样式  样式  */
 #app .page .side i {
   /*文字摆放位置*/
   /* text-align: left !important; */
   /* 文字大小 */
   /* font-size: 50px !important; */
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   /* color: #fff; */
   /* display: none; */
 }

 /* 左侧导航栏缩进 菜单外盒子 */
 .el-menu--vertical {
   /* 背景颜色 */
   background-color: #30333A !important;
 }

 /* 左侧导航栏缩进 菜单内盒子 */
 .el-menu--vertical .el-menu {
   background-color: #30333A !important;
 }

 /* 左侧导航栏缩进 菜单单条盒子 */
 .el-menu--vertical .el-menu-item {
   /* 背景颜色 */
   background-color: #0E82CF !important;
   /* 下边框 */
   /*   border-bottom: 1px solid #f07b3f; */
   /* 圆角 */
   /* border-radius: 1.25rem; */
   /* 下外边距 */
   /*  margin: 10px; */
   /* 文字颜色 */
   color: #ffffff !important;
   /* 文字大小 */
   font-size: 1rem;
   /* 边框 */
   /* border: 2px dotted #6eb6ff; */
   /* 文本对齐方式 */
   text-align: center;
   /* 宽度 */
   width: 100%;
 }

 /* 鼠标点击以后样式 */
 .el-menu--vertical .el-menu-item:hover {
   display: block;
   background-color: #1E628F !important;
   color: #ffffff !important;
   /* font-size: 1.5rem; */
   /* font-weight: 600; */
 }

 /* 顶部栏 样式 */
 #app header {
   /* 背景 */
   background-color: #b8b0b0;



 }

 /* 右侧内容区 */

 #app .page article {
   /*  背景颜色 */
   /* background-color: #7c7575 !important; */
 }

 /* 隐藏导航栏左侧图标 */
 #app header .action_left {
   display: none;
 }

 /*  顶部栏内 左边图标样式 */
 #app header .action_left .el-icon-menu {
   /*文字摆放位置*/
   /* text-align: left !important; */
   /* 文字大小 */
   /* font-size: 50px !important; */
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   color: #7F4853;
   /* display: none; */
 }

 /*  顶部栏内 左边图标样式  点击后样式*/
 /* #app header .action_left .el-icon-s-grid{
	 color: #FF6666;
} */
 /*  顶部栏内 右边头像样式 */

 #app header .action_right .el-dropdown .el-avatar {
   /* 圆角边框 */
   /* border-radius: 50% !important; */
   /* 边框阴影 */
   /* box-shadow: 0px 0px 20px 10px #ccc; */
   /* 外边距 */
   margin: 0px 10px;
   /* 内边距 */
   /* padding: 10px 10px 10px 10px; */
   /* 内部字体颜色 */
   /* color: #00A4FF; */
   /* 盒子透明度 */
   /* opacity: 0.8; */
   /* 背景颜色 */
   /* background-color: #7c7575000 !important; */
   /* 宽度 */
   /* width: 100px; */
   /* 高度 */
   /* height: 100x; */
   /* border: 2px  dotted  #6eb6ff !important; */
 }

 /*  顶部栏内 右边用户id字体样式 */

 #app header .action_right .el-dropdown span:nth-child(2) {
   /*文字摆放位置*/
   /* text-align: left !important; */
   /* 文字大小 */
   font-size: 22px !important;
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   color: #EEEEEE;
 }

 /* 点击头像 下拉框*/
 .el-dropdown-menu {
   background-color: #c6d8fd !important;
   /*    border:1px solid #F4C2C2 !important; */

 }

 .el-dropdown-menu__item--divided:before {
   /* background-color: #7c7575 !important; */
 }

 .el-dropdown-menu__item--divided {
   /* border: 1px solid #D3a29f !important; */
 }

 .el-dropdown-menu::after {
   /*    content: none !important; */
 }

 /* 个人信息管理 页面大盒子*/
 #app #user_info .card {
   /* 背景颜色 */
   background-color: #cde3eb !important;
   /* 宽度 */
  width: 80%;
   /* 颜色 */
   margin: 0 auto;
   border-radius: 10px;
   border: 3px solid #7c7575;
 }

 /* 个人信息管理标题 */
 #app #user_info .card .text-center {
   /* 文本颜色 */
   text-align: center;
   /* 下边距 */
   margin-bottom: 20px;

 }

 /* 修改密码 */
 #app #user_password .card {
   /* 背景颜色 */
   background-color: #cde3eb !important;
   /* 宽度 */
   width: 60%;
   /* 颜色 */
   margin: 0 auto;
   border: 3px solid #7c7575;
   border-radius: 10px;
 }

 /* 个人信息管理标题 */
 #app #user_password .text-center {
   /* 文本颜色 */
   text-align: center;
   /* 下边距 */
   margin-bottom: 20px;
 }



 /* ---------------------------------- */

 /* 首页 ‘欢迎使用后台管理系统’ 字体样式 */

 #root_index .container-fluid .root_index_title {
   /*文字摆放位置*/
   /* text-align: left !important; */
   /* 文字大小 */
   /*  font-size: 100px !important; */
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   /* color: #7c75750FF; */
 }

 /* 首页 订单展示框 样式 */

 #root_index .container-fluid .card {
   /* 圆角边框 */
   /*   border-radius: 30px !important; */
   /* 边框阴影 */
   /* box-shadow: 0px 0px 20px 10px #ccc; */
   /* 外边距 */
   /* margin: 50px; */
   /* 内边距 */
   /* padding: 10px 10px 10px 10px; */
   /* 内部字体颜色 */
   /* color: #00A4FF; */
   /* 盒子透明度 */
   /* opacity: 0.8; */
   /* 背景颜色 */
   background-color: #eee !important;
   /* 	border: 2px dotted #fff ; */
   /* 宽度 */
   /* width: 80%; */
   /* 高度 */
   /* height: 100x; */
 }

 /* 首页 订单展示框 字体样式 */

 #root_index .container-fluid .card div {
   /*文字摆放位置*/
   text-align: center !important;
   /* 文字大小 */
   /* font-size: 50px !important; */
   /* font-weight: 600; */
   /* 字体倾斜 */
   /* font-style:oblique; */
   /* 下划线 */
   /* text-decoration:underline; */
   /* 下划线颜色 */
   /* text-decoration-color: #00a4ff; */
   /* 文字颜色 */
   color: #7c7575;
 }

 /*----------------------------------------------------------------------  */
 /* 列表页  查询字段名称 文字样式*/
 .el-form-item__label {
   /* 颜色 */
   color: #fff !important;
   /* 字体大小 */
   font-size: 16px !important;

 }

 /* -----------------------------------------------------------------*/
 /* 列表表格样式 */
 .el-table {
   font-family: verdana, arial, sans-serif;
   font-size: 11px;
   color: #7c7575333;
   border-width: 1px;
   border-color: #999999;
   border-collapse: collapse;
   border-color: #d9faff;
 }

 .el-table th {
  
   border-width: 1px;
   padding: 8px;
   border-style: solid;
   border-color: #7c7575;
   color: #FFFFFF !important;
 }

 .el-table tr {
   background-color:#e9f1f3 !important;
   border-color: #7c7575;
 }

 .el-table td {
	  
   border-width: 1px;
   padding: 8px;
   border-style: solid;
   border-color: #d9faff;
 }

 .el-input {
   /* border: 2px solid #fff;
   border-radius: 10px;
   color: #fff !important; */
   border: none !important;
 }

 /* 列表页表格头部 */
 .el-table__header thead th {
 /*  color: #7c7575000 !important;
	font-size: 1.0625rem;
	font-weight: 37.5rem; */
	 background-color: #b8b0b0 !important;
 }

 .el-table__row td:nth-child(1) {
  	 background-color: #b8b0b0 !important;
 }

 .el-table__row:nth-child(even) {
  /*  color: #7c7575000 !important; */
	background-color: #FFFFFF !important;
 }


 /* 列表边框线公共样式 */

 /* 列表边框线 外边框 公共样式 */

 .el-table--border .el-table--group {
   /*   border: 1px solid #00a4ff !important; */

 }

 /* 列表边框线 边框边框 公共样式 */

 .el-table td .el-table th.is-leaf {
   /* border: 1px solid red !important; */
 }

 .el-dropdown-menu {
   background-color: #7c7575 !important;
 }

 .el-dropdown-menu .el-dropdown-menu__item {
   list-style: none;
   line-height: 70px;
   height: 70px;
   padding: 0 20px;
   margin: 0;
   font-size: 14px;
   color: #fff !important;
   cursor: pointer;
   outline: 0;
   background-color: #7c7575 !important;
   display: block !important;
   font-family: auto;
 }

 /* 登录页  登录框 注册框 忘记密码框*/

 .sign_in .form {
   /* margin-right: 150px !important; */
   /* margin-top: 120px !important; */
   /* opacity: 1; */
   /* background-color: #7c7575FFF; */
   /* background-image: linear-gradient(to bottom, rgb(247, 242, 242), #fff) !important; */
   /* border: 1px solid rgb(12, 3, 51); */
   /* background-size: 100% 100% !important; */
   /* border: 5px solid #00bbf0; */
   width: 690px !important;
   max-width: none !important;
   /* height: 550px; */
   border-radius: 20px !important;
   /* line-height: 800px; */
   /* position: relative; */
   margin-top: 300px !important;
   border: none !important;
   /* transform-style: preserve-3d; */
   padding: 50px 100px 60px 100px !important;
   border-bottom: 10px solid #8c7676 !important;
   box-shadow: none !important;
   
    background-color: #FFF;
 }

 /* 登录页  登录框 注册框 忘记密码框 顶部标题*/

 .sign_in .form h1 {
	    background-color: #FFF;
   text-align: center !important;
   font-size: 26px !important;
   color: #7c7575;
   width: 350px;
   height: 84px;
   line-height: 84px;
   font-family: auto;
   /* border: 6px solid #fff; */
   /* background-image: linear-gradient(to bottom, rgb(243, 219, 219), rgb(167, 150, 2)) !important; */
   /* margin-left: -100px; */
   /* margin-bottom: 30px; */
   /* margin-top: -200px; */
   border-bottom: 10px solid #8c7676;
   border-radius: 20px;
   position: absolute;
   top: 178px;
   left: 50%;
   margin-left: -175px;
   /* animation: rotate 3s infinite; */
 }

 @-webkit-keyframes rotate {
   from {
     transform: rotateZ(0deg)
   }

   to {
     transform: rotateZ(360deg)
   }
 }

 #app #user_info .card .text-center,
 .el-form-item__content,
 .el-form-item__label,
 #app #user_password .text-center {
   color: #7c7575 !important;
   font-family: auto;
 }

 .el-button--primary {
   background: transparent !important;
   color: #FFFFFF !important;
   border: 1px solid #7c7575 !important;
   background-color: #7c7575 !important;
 }

 .bg {
   /* background: #7c7575 !important; */
   /* padding: 0!important; */
   /* background-image: repeating-radial-gradient(rgb(238, 239, 241), #fff) !important; */
 }

 /* 注册登陆忘记密码页 */
 .sign_in {
   /* 界定盒子大小即为边框大小 */
   box-sizing: border-box;
   /* 高度为可视化 */
   height: 100vh;
   /* 内边框 */
   padding: .5rem;
   /* 宽度 */
   width: 100% !important;
   /* 背景图片 */
   background: url(../img/bg.jpg) no-repeat !important;
   /* 背景图大小 */
   background-size: 100% 100% !important;
   /* position: relative; */
   /* background-image: repeating-radial-gradient(#fff, rgb(79, 224, 75) 10%, rgb(243, 244, 247) 15%) !important; */

 }



 .image-slot,
 .image-slot img {
   height: 100px !important;
   max-height: 100px !important;
 }

 #app .page {
   display: block !important;
 }

 .side {
   /* float: right !important; */
 }

 main {
   width: auto !important;
 }

 .action_right {
   float: left !important;
 }

 /* 左右 */

 .form.p_4 {
   padding: 5px !important;
   float: right;
   width: 165px;
   background:#cde3eb;
   border: 1px solid #7c7575;
   border-radius: 10px;
   
 }

 .form.p_4 .el-form-item {
   margin-bottom: 0 !important;
 }

 .form.p_4 .el-row .el-col-lg-8 {
   width: 100% !important;
 }

 .form.p_4 .el-row .el-col:nth-last-child(2) {
   margin-bottom: 30px !important;
 }

 .form.p_4 .el-row .el-col-24,
 .form.p_4 .el-ro .wel-col-xs-24,
 .form.p_4 .el-row .el-col-sm-12,
 .form.p_4 .el-rowel-col-lg-6 {
   width: 100% !important;
 }

 .el-main .el-table,
 .el-main .mt {
   width: calc(100% - 170px) !important;
 /* margin-right: 20px; */

 }

 /* 重置按钮 */
 .el-main .el-button--default {

   background-color: #dfd3d3 !important;

   color: #FFFFFF;

   font-size: 16px;
   border-radius: 20px;
   margin: 0 !important;
   margin-right: 5px !important;
   width: 70px !important;
   height: 40px !important;

 }

 .el-main .el-button--default:hover {
   color: #7c7575
 }

 /* 添加按钮 */
 .el-main .el-button--default.el-button--primary,
 .el-main .el-button--primary {
   font-size: 14px;
   background-color: #8f8787 !important;
   color: #fff !important;
   border-radius: 20px;
   font-family: auto;
   border: none !important;
  
   margin: 0 !important;
   margin-right: 5px !important;
    margin-bottom: 5px !important;
 }

 /* 删除按钮 */
 .el-main .el-button--danger.el-button {
   background-color: #dfd3d3 !important;
   color: #FFFFFF !important;

   font-size: 16px;
   border-radius: 20px;
   margin-left: 15px;
   border: none !important;
   margin: 0 !important;
   margin-bottom: 5px !important;
 }
 #app .el-button.el-button--small.is-plain.el-button--primary{
 /* 	margin-left: 20px !important; */
 	margin-bottom: 5px !important;
 }
 .sign_in .form .el-button{
	 color: #7c7575 !important;
 }
 .el-image{
 	height: 100%;
 	width: 100%;
 }
 .el-avatar--circle img{
 	height: 100% !important;
 	width: 100% !important;
 }